@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #DEBACE !important;
    font-family: 'Syne Mono', monospace;
    display:flex;
    align-items: center;
    justify-content:center; 
}
.display {
   background-color: #EFF5F5;
   border: solid #BA94D1;
   background-image: url(../assets/pngwing.com.png);
   background-size: contain;
   background-repeat: no-repeat;
   margin: auto;
   color: black;
   border-radius: 5px;
   width: 100%;
   height: 110px;
   font-size: 25px;
   text-align: right;
}
.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: #59C1BD 5px 5px 5px;
}
.numb-btn:hover {
    background-color: #863A6F;
}
.symbols:hover {
    background-color: #FFADBC;
}
.equalsign:hover {
    background-color: #6ECCAF;
}
.equal:hover {
    background-color: #6ECCAF;
}
.delBtn:hover {
    background-color: #6ECCAF;
}
.buttons {
    display: grid;
    border-bottom: 1px solid #59C1BD;
    box-shadow: #0D4C92;
    border-left: 2px solid #59C1BD;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div {
    border-top: 1px solid #59C1BD;
    border-right: 1px solid #59C1BD;
}
button {
    border: 0.5px solid #59C1BD;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50px;
}
.equalsign,  .delBtn{
    grid-column: span 1;
    background-color: #cff5e7;
}
.equal {
    grid-column: span 2;
    background-color: #cff5e7;
}
/* .delBtn {
    grid-column: span 1;
    background-color: #cff5e7;
} */
@media screen (min-width: 150px) {
    .container {
        width: 100%;
        margin: auto;
    }
    body {
        width: 100%;
    }
}